{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h3 id="message"></h3>
    </div>
    <div class="row">
        <div class="col s6">
            <button style="background-color:pink;" onclick="ajaxRequest('/start')">Start</button>
            <button style="background-color:lightblue;" onclick="ajaxRequest('/stop') ">Stop</button>
        </div>
    </div>
    <div class="row">
        <button style="background-color:red;" onclick="ajaxRequest('/shutdown')">Shutdown</button>
    </div>
</div>
<h3>DEBUG</h3>
{% for message in get_flashed_messages() %}
<div style="color:red;">
    {{message}}
</div>
{%endfor%}
{% endblock %}