{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <!-- area for real time chart-->
        <div id="line_chart" style="width:700px; height:300px;"></div>
        <div id="gauge_chart" style="width: 400px; height: 120px;"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="static/realtimechart.js"></script>
{% endblock %}